src/*.o
src/formats/*.o
src/zrtp/*.o
src/rtcp/*.o
src/srtp/*.o
src/crypto/*.o
libkvzrtp.a
*.a
*main
benchmarks/*/main_*
benchmarks/*/results
benchmarks/*/*data
benchmarks/*/*receiver
benchmarks/*/*sender
build/*
*.prof
*.user
tags
*a.out
docs/latex
/cmake-build*/
CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
Makefile
_deps/
cmake_install.cmake
install_manifest.txt
packaging/CMakeFiles/
packaging/Makefile
packaging/cmake_install.cmake
test/CMakeFiles/
test/CTestTestfile.cmake
test/Makefile
test/cmake_install.cmake
uvgrtp.pc
uvgrtp/
version.cpp
